
<div class="columns">
  <div class="column has-text-centered">
    <%= render @characters %>
  </div>
</div>

<div class="columns">
  <div class="column is-4 is-offset-4 has-text-centered">
    <%= paginate @characters %>  
  </div>
</div>
